/* CSS styles for Animal Facts website */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
    --cream: #FFF2D7;
    --font_color: #D8AE7E;
    --bck_color: #FFE0B5;
    --links_size: 3rem;
    --font_fam: "Caveat", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: var(--cream);
}

.links {
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-around;
    list-style: none;
}

.link a {
    text-decoration: none;
    color: var(--font_color);
    font-size: var(--links_size);
    font-family: var(--font_fam);
    font-weight: bold;
}

header a img {
    width: 5rem;
}

/* Body */

body {
    background-color: var(--bck_color);
}