/* CSS styles for Animal Facts website */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --cream: #FFF2D7;
    --font_color: #D8AE7E;
    --bck_color: #FFE0B5;
    --links_size: 3rem;
    --font_fam: "Caveat", cursive;
    --secondary_font: "Roboto Slab", serif;
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: var(--cream);
    position: fixed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.links {
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-around;
    list-style: none;
}

.link a {
    text-decoration: none;
    color: var(--font_color);
    font-size: var(--links_size);
    font-family: var(--font_fam);
    font-weight: bold;
}

header a img {
    width: 5rem;
}

/* Hero */

.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom, var(--bck_color) 10%, #fff 100%);
}

.container {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.container h1 {
    font-size: 7rem;
    font-family: var(--font_fam);
}

.container p {
    font-family: var(--secondary_font);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.container a {
    font-size: 2rem;
    text-decoration: none;
    width: 15rem;
    height: 4rem;
    border: 0.5rem solid #D8AE7E;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    color: var(--font_color);
}

.container a:hover {
    background-color: var(--cream);
}