/* CSS styles for Animal Facts website */
:root {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8rem;
}

.links {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
}

header a img {
    width: 5rem;
}